// messages
	.account_content-main {
		overflow:auto;

		.messages {
			padding-top: 0;
			padding-bottom: 0;
			&_nav {
				margin-right: 15px;
				// min-width: 330px;
				height: calc(100vh - 135px);
				overflow: auto;
				&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
					border-radius: 5px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar
				{
					width: 5px;
					height: 5px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb
				{
					border-radius: 5px;
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
					background-color: var(--secondaryColor);
				}
			}
			&_content {
				height: 0;
				padding-right: 15;
				// min-height: 873px;
				height: calc(100vh - 135px);
				.chat {			
					height: 100%;
					overflow: auto;
					max-height: calc(100vh - 295px);
					padding-right: 10px;
				}
			}
		}
	}
		

	@media screen and (max-width: 1600px) {
		.account_content-main .messages {
			padding-top: 0;
			&_nav {
				margin-right: 15px;
				min-width: 330px;
			}
		}
	}

	@media screen and (max-width: 1200px) {
		.account_content-main .messages {
			&_nav {
				min-width: 130px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.account_content-main .messages {
			padding-top: 0;
			&_nav {
				margin-right: 0px;
				min-width: 50px;
			}
		}
	}
// messages

// done
	.done {
		border-radius: 20px;
		background: #fff;
		padding: 20px;
		margin-bottom: 15px;
		h2 {
			font-weight: 500;
			font-size: 22px;
			color: #000;
			font-weight: 700;
			line-height: 1.3;
			margin-bottom: 6px;
		}
		p {
			max-width: 600px;
			font-weight: 500;
			font-size: 12px;
			line-height: 1.67;
			opacity: .4;
		}
	}
	.diagrams {
		display: flex;
		align-items: flex-start;
		margin-bottom: 35px;
		overflow: auto;
		max-width: 100%;
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
			border-radius: 5px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar
		{
			width: 5px;
			height: 5px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb
		{
			border-radius: 5px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
			background-color: var(--secondaryColor);
		}
	}
	.circle_wrap {
		margin:0 15px 15px 0;
		position: relative;
		background: none;
		width: 100%;
		max-width: 126px;
		min-width: 126px;
		border-radius: 50%;
		font-family: 'SFUI', sans-serif;
		svg {
			transform: rotate(270deg);
		}
		.circle_progress {
			position: relative;
			z-index: 5;
			fill: none;
		}			
		.progressIndicator {
			opacity: .5;
			position: relative;
			z-index: 4;
		}
		&.tag1 {
			.circle_progress {
				stroke: var(--tag1);
			}			
			.progressIndicator {
				fill:var(--tag1);
			}
		}
		&.tag2 {
			.circle_progress {
				stroke: var(--tag2);
			}			
			.progressIndicator {
				fill:var(--tag2);
			}		
		}
		&.tag3 {
			.circle_progress {
				stroke: var(--tag3);
			}			
			.progressIndicator {
				fill:var(--tag3);
			}			
		}
		&.tag4 {
			.circle_progress {
				stroke: var(--tag4);
			}			
			.progressIndicator {
				fill:var(--tag4);
			}			
		}
		&.tag5 {
			.circle_progress {
				stroke: var(--tag5);
			}			
			.progressIndicator {
				fill:var(--tag5);
			}			
		}
		&.tag6 {
			.circle_progress {
				stroke: var(--tag6);
			}			
			.progressIndicator {
				fill:var(--tag6);
			}		
		}
	}
	.result_counter {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 20px;
	}
// done

// account_portfolio
	.account_portfolio {
		border-radius: 20px;
		background: #fff;
		padding: 20px;
		margin-bottom: 15px;
		width: 100vw;
		max-width: 100%;
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid rgba(86,212,137,.5);
			.filters {
				&_wrap {
					margin-bottom: 0;
					background: #FFFFFF;
					box-shadow: inset 0px -1px 0px rgba(208, 201, 214, 0.4);
					border-radius: 5px;
				}
				&_item {
					&-label {
						color: #BDBDBD;					
					}
				}
			}
			.btn {
				display: flex;
				align-items: center;
				svg {
					margin-left: 10px;
				}
			}
		}
		&-content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 240px;
			grid-auto-rows: 240px;
			grid-gap: 15px;
			max-height: 660px;
			overflow: auto;
			padding-right: 15px;

			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				border-radius: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				border-radius: 5px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				background-color: var(--secondaryColor);
			}
		}
		&-item {
			position: relative;
			overflow: hidden;
			border-radius: 10px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:before {
				content:'';
				display: block;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #011D1F 100%);
				position: absolute;
				top: 0;
				left:0;
				pointer-events: none;
				opacity:0;
				transition: .5s;
			}
			&:hover {
				&:before {
					opacity:1;
				}
				.account_portfolio {
					&-info {
						opacity: 1;
						transform: translate(0,-50px);
					}
				}
			}
		}
		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			top: 100%;
			transform: translate(0,50%);
			transition: .5s;
			opacity:0;
			width: 100%;
			padding: 10px 20px;
		}
		&-link {
			background: none;
			border: none;
			font-weight: 500;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			text-align: left;
			small {
				display: block;
				font-size: 12px;
			}
		}
		&-toggler {
			background: none;
			border: none;
			position: relative;
			z-index: 5;
			svg {
				pointer-events: none;
				transition: .5s;
			}
			&.active svg {
				fill:var(--secondaryColor);
			}
		}
		&-controls {
			position: absolute;
			top: 50%;
			right: -150%;
			transform: translate(0,-50%);
			transition: .5s;
			background: #F8F8F8;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 100px;
			padding: 4px 25px 4px 13px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				display: flex;
				align-items: center;
				margin-right: 20px;
				font-size: 14px;
				font-weight: 300;
				font-family: 'SFUI', sans-serif;
				svg {
					margin-right: 5px;
				}
			}
			&.active {
				right: 10px;
			}
		}
	}
	.modal_header {
		display: flex;
		align-items: flex-start;
		margin-bottom: 36px;
	}
	.portfolio_site {
		color: #fff;
		font-weight: 500;
		font-size: 14px;
		display: flex;
		align-items: center;
		margin-left: 47px;
		svg {
			margin-right: 15px;
		}
	}
	.modal#portfolio {
		flex-direction: column;
		overflow: auto;
		z-index: 110;
		.account_reviews {
			max-width: 930px;
			margin: 0 auto;
			min-height: 35vh;
		}
	}
	.account_portfolio-slider {
		max-width: 1120px;
		padding-right: 100px;
		padding-left: 100px;
		position: relative;
		overflow: hidden;
		margin: 0 auto 30px;
		img {
			border-radius: 10px;
		}
		.swiper-slide {
			opacity: 0;
			// transition: .5s;
			&.swiper-slide-active {
				opacity: 1;
			}
		}
	}
	.account_portfolio {
		&-arrow {
			display: flex;
			position: absolute;
			align-items: center;	
			justify-content: center;
			top: 0;
			background: rgba(255, 255, 255, 0.4);
			border-radius: 10px;
			height: 100%;
			width: 80px;
			z-index: 5;	
			border: none;
			&:hover {
				background: var(--secondaryColor);
			}
			* {
				pointer-events: none;
			}
		}
		&-prev {
			left: 0px;
		}
		&-next {
			right: 0;
		}

	}

	@media screen and (max-width: 1200px) {
		.account {
			&_portfolio {
				&-content {
					grid-template-columns: 1fr;

				}
				&-header {
					flex-direction: column;
					.btn {
						margin-top: 20px;
						width: 100%;
					}
				}
			}
			
		}
	}

	@media screen and (max-width: 767px) {
		.account_portfolio-slider {
			padding: 50px;
		}
		.account_portfolio-arrow {
			width: 40px;
		}
		.modal .account_reviews .swiper-slide {
			max-width: 90%;
		}
		.modal#portfolio .account_reviews {
			max-width: 100%;
		}
		.modal#portfolio {
			overflow-y: scroll;
		}
		.modal#portfolio .account_reviews {
			min-height: unset;
		}

	}
// account_portfolio

// account_settings 
	.account_content .settings {
		padding-top: 0;
		padding-bottom: 0;
		.profile_form {
			.btn {
				width: 100%;
				color: var(--mainColor);
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&-categories,
			&-price {
				grid-template-columns: 1fr 200px;
				.btn {
					font-size: 14px;
					svg {
						margin-left: 15px;
					}
				}

				& + .tag_list {
					max-width: 491px;
					margin:18px auto 54px;
				}
			}
			&-price {
				grid-template-columns: repeat(12, 1fr);
				.input_wrap {
					&:nth-of-type(1){
						grid-column: 1 / 5
					}
					&:nth-of-type(2){
						grid-column: 5 / 10
					}
					&:nth-of-type(3){
						grid-column: 10 / 13
					}
					&:nth-of-type(4){
						grid-column: 1 / 4
					}
					&:nth-of-type(5){
						grid-column: 4 / 8
					}
				}
				.btn {
					width: 100%;
					grid-column: 8 / 13
				}
			}
			.input_label {
				color: var(--mainColor);
				opacity: .5;
				font-family: "SFUI", sans-serif;
				font-size: 15px;
			}
		} 
	}
// account_settings 

// pricelist
	.pricelist {
		&_row {
			display: grid;
			grid-template-columns: repeat(5, 1fr) 24px;
			grid-gap: 15px;
			padding: 12px 14px 14px 17px;
			background: #fff;
			border-radius: 6px;
			font-size: 14px;
			line-height: 1.4;
			font-family: 'SFUI';
			margin-top: 5px;

			&:first-of-type {
				margin-top: 15px;
				box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
				background: var(--mainColor);
				color: #fff;
			}
		}
		&_cell {
			display: flex;
			align-items: center;
			svg {
				margin-left: 10px;
			}
		}
		&_btn {
			background: none;
			border: none;
			min-width: 24px;
			svg {
				margin-left:0px;
			}
		}
	}
// pricelist

// account_projects 
	.img_requirements {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.43;
		color: var(--mainColor);
		.img_example {
			position: relative;
			width: 100%;
			max-width: 180px;
			height: 0;
			padding-bottom: 26.6%;
			background: #FFFFFF;
			box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
			border-radius: 6px;
			margin-right: 15px;
			svg {
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
			}
		}
		p {
			opacity:.5;
		}
	}
	.profile_form-project {
		.input[type='url'] {
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 16H17C19.2091 16 21 14.2091 21 12C21 9.79086 19.2091 8 17 8H14' stroke='%2356D589' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M10 16H7C4.79086 16 3 14.2091 3 12C3 9.79086 4.79086 8 7 8H10' stroke='%2356D589' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7.5 12H16.5' stroke='%2356D589' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") calc(100% - 20px) 50% no-repeat #fff;
		}
	}
	.uploaded_images {
		display: flex;
		max-width: 100%;
		overflow: auto;
	}
	.image_wrap {
		// display: inline-block;
		border-radius: 6px;
		position: relative;
		width: 0%;
		min-width: 101px;
		max-height:73px;
		overflow: hidden;
		margin-right: 5px;
		img {
			object-fit: cover;
		}
		&-delete {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 50px;
			height: 50px;
			border-radius:50%;
			border: none;
			opacity:0;
			background: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.9171 11.0835L11.084 26.9167' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M11.084 11.0835L26.9172 26.9167' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") center no-repeat rgba(241,75,0,.5);
		}
		&:hover {
			.image_wrap-delete {
				opacity: 1;
			}
		}
	}
// account_projects 


@media screen and (max-width: 1000px) {
	.account_content .settings {
		flex-direction: column;
		.settings_nav {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		.profile_form-price {
			grid-template-columns: 1fr 1fr;
			.input_wrap,
			.btn {
				grid-column: unset !important;
			}
		}
		.profile_form-categories,
		.profile_form-project {
			grid-template-columns: 1fr;
			.wide {
				grid-column: unset;
			}
		}
	}
	.img_requirements  {
		flex-direction: column;
		.img_example {
			margin-right: 0;
			margin-bottom: 15px;
			padding-bottom: 45%;
		}
	}
}
@media screen and (max-width: 520px) {
	.pricelist {
		&_row {
			grid-gap: 3px;
			font-size: 10px;
			padding: 7px 5px;
			// grid-template-columns: 1.5fr 1.5fr repeat(3, 1fr) 24px;
		}
	}
	.account_content .settings {
		&_content,
		&_nav
		 {
			padding: 15px;
		}
		.profile_form-price {
			grid-template-columns: 1fr;

		}

	}
}