// modals 
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0);
		width: 100%;
		height: 100%;
		z-index: 99;
		background-color: rgba(0,0,0,.6);
		z-index: 99;
		padding:120px 20px;
		overflow:auto;
		display: flex;
		&.active {
			transform: translate(-50%,-50%) scale(1);
			.modal_content {
				transform: scale(1)
			}
		}
	}
	.modal_content {
		width: 90%;
		max-width: 1110px;
		background-color: #fff;
		z-index: 100;
		padding: 35px 52px;
		font-size: 14px;
		box-shadow: 0px 18px 30px rgba(136, 178, 222, 0.13);
		border-radius: 20px;
		transform: scale(0);
		transition: .5s;
		margin: auto;
		#request & {
			padding: 70px 60px;
			.section_heading {
				font-size: 24px;
				font-weight: 500;
				color: var(--bg);
				&:after {
					display: none;
					
				}
			}
		}
		#types & {
			.close {
				top: 15px;
				right: 15px;
			}
			.types {
				border: 1px solid var(--secondaryColor)
			}
			.btn {
				margin: 20px 0 0 auto;
				display: block;
			}

		}


	}
	.overlay {
		overflow: hidden;
	}
	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 15px;
		height: 15px;
		border: none;
		cursor: pointer;
		background: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7269 21.4087L12.8186 11.5004L22.7268 1.59223C23.0909 1.22813 23.0909 0.637727 22.7268 0.273591C22.3627 -0.0905458 21.7723 -0.0905458 21.4082 0.273591L11.5 10.1818L1.59174 0.273591C1.22765 -0.0905458 0.637238 -0.0905458 0.273102 0.273591C-0.091034 0.637682 -0.091034 1.22809 0.273102 1.59223L10.1813 11.5004L0.273102 21.4087C-0.091034 21.7728 -0.091034 22.3632 0.273102 22.7273C0.637193 23.0914 1.2276 23.0915 1.59174 22.7273L11.5 12.819L21.4083 22.7273C21.7724 23.0914 22.3628 23.0915 22.7269 22.7273C23.091 22.3632 23.091 21.7728 22.7269 21.4087Z' fill='%2395A0B4'/%3E%3C/svg%3E%0A") center no-repeat;
	}
	.modal_btn {
		* {
			pointer-events:none;
		}
	}
		
	@media screen and (max-width: 510px) {
		.wrapper {
			overflow: hidden;
		}
		.modal {
			// padding: 10px;
		}
		.modal_content {
			max-width: 100% !important;
			width: 100%;
			margin-left: 0;
			margin-right: 0;

		}
	}
// modals 


// request
	.request {
		&_header,
		&_form {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			&-info {
				display: flex;
				align-items: flex-start;
			}
			&-logo {
				border-radius: 50%;
				width: 0px;
				min-width: 100px;
				height: 100px;
				overflow: hidden;
				margin-right: 27px;	
				margin-top: -10px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			&-item {
				color: var(--mainColor);
				font-size: 15px;
				font-weight: 500;
				margin-right: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			&-label {
				color: #4F4F4F;
				font-size: 15px;
				font-weight: 400;
				display: block;
				margin-bottom: 5px;
			}
		}
		&_header {
			padding-bottom: 56px;
			border-bottom: 2px solid var(--mainColor);
			margin-bottom: 37px;
		}
		&_portfolio {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 70px;
			border-bottom: 2px solid var(--mainColor);
			margin-bottom: 40px;
			.portfolio_slider {
				width: 100%;
				overflow: hidden;
				margin-top: 38px;
				.swiper-slide {
					max-width: 250px;
					max-height: 160px;
					border-radius: 10px;
					overflow: hidden;
					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}
			.section_heading,
			.filters_wrap {
				margin-bottom: 0;
				background: transparent;
			}
			.filters_item-label {
				color: #BDBDBD;
				input:checked + & {
					background: var(--mainColor);
				}
			}
		}
		&_main {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			.section_heading {
				margin-bottom: 100px;
			}
		}
		&_reviews {
			max-width: 375px;
			padding-right: 25px;
			max-height: 660px;
			overflow: auto;
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				border-radius: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 3px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				border-radius: 3px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				background-color: #F2C94C;
			}
			&-item {
				margin-bottom: 25px;
				.account_reviews-text {
					background: #FFFFFF;
					padding: 10px;
					/* Dropshadow 3 */

					box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
					border-radius: 8px;
				}
			}
		}
		&_sending {
			max-width:500px;
			padding-right: 50px;
			padding-left: 25px;
			max-height: 660px;
			overflow: auto;
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				border-radius: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 3px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				border-radius: 3px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
				background-color: #F2C94C;
			}
			.request_header-info {
				margin-bottom: 40px;
			}
			.input {
				&_label {
					color: #4F4F4F;
				}
				&_wrap {
					max-width: 350px;
					margin-bottom: 20px;
				}
			}
			.remember_check {
				color: #4F4F4F;
				margin-top: 20px;
				padding-left: 34px;
				&:hover {
					text-decoration: underline;
					color: #4f4f4f;
				}
			}
			.btn {
				width: 100%;
				max-width: 345px;
				margin-top: 40px;
			}
			.brief {
				padding: 25px 22px 20px;
				background: #FFFFFF;
				box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
				border-radius: 6px;
				max-width: 345px;
				margin-bottom: 15px;
			}
		}
	}

	@media screen and (max-width: 1200px) {
		.request {
			&_header {
				flex-wrap: wrap;
				border: none;
				padding-bottom: 0;
				margin-bottom: 64px;
				&-item {
					width: 45%;
					margin-right: 0;
				}
				&-info {
					flex-wrap: wrap;
					width: 100%;
					padding-bottom: 30px;
					margin-bottom: 30px;
					border-bottom: 2px solid var(--mainColor);

					.request_header-item:nth-of-type(2) {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-bottom: 20px;
						.request_header-label {
							margin-right: 10px;
						}
					}
				}
				&-logo {
					position: absolute;
					left:50%;
					top: 0;
					transform: translate(-50%,-50%);
				}
			}
			&_form {
				width: 100%;
				justify-content: space-between;
			}
			&_tab {
				display: none;
				.section_heading {
					display: none;
				}
				&.active {
					display: block;
				}
				&-toggler {
					font-size: 16px;
					color: var(--bg);
					background: none;
					border: none;
					opacity:.5;
					transition: .5s;
					&.active {
						font-weight: 700;
						opacity: 1;
					}
				}
			}
			&_sending,
			&_reviews {
				max-width: 100%;
				padding-left: 15px;
				padding-right: 15px;
				max-height: unset;
				&_wrap {
					width: 100%;
					margin:0;
				}
				.input_wrap,
				.btn,
				.brief {
					width: 100%;
					max-width:100%;
				}
				.request_header-info {
					display: none;
					
				}
			}
			&_mobile_togglers {
				display: flex;
				justify-content: space-between;
				padding-bottom: 10px;
				border-bottom: 2px solid var(--mainColor);
				margin-bottom: 30px;				
			}
			&_portfolio {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		#request .modal_content {
			padding: 70px 10px 30px;
		}
	}

	@media screen and (max-width: 767px) {
		.request_form {
			flex-wrap: wrap;

			.request_header-item {
				width: 100%;
				margin-bottom: 20px;				
			}
		}
		.request_portfolio .filters_item-label {
			padding: 10px;
		}
	}
// request


// unregister_alert
	.modal.unregister_alert {
		.modal_content {
			max-width: 540px;
			min-height: 281px;
			padding: 50px 20px;
			display: flex;
			flex-direction: column;
			.close {
				top: 15px;
				right: 15px;
			}
		}
		.btn {
			margin-top: auto;
		}
	}
	.unregister_alert-content {
		position: relative;
		padding-left: 30px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.62;
		a {
			color: var(--secondaryColor);
			text-decoration: underline;
		}
		p {
			margin-bottom: 10px;
		}
		&:before {
			content:'';
			display: block;
			width: 18px;
			height: 18px;
			position: absolute;
			top: 3px;
			left:0;
			background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99984 5C10.4601 5 10.8332 5.3731 10.8332 5.83333V10.8333C10.8332 11.2936 10.4601 11.6667 9.99984 11.6667C9.53959 11.6667 9.1665 11.2936 9.1665 10.8333V5.83333C9.1665 5.3731 9.53959 5 9.99984 5Z' fill='%23F14B00'/%3E%3Cpath d='M9.99984 13.3333C9.53959 13.3333 9.1665 13.7064 9.1665 14.1666C9.1665 14.6269 9.53959 15 9.99984 15C10.4601 15 10.8332 14.6269 10.8332 14.1666C10.8332 13.7064 10.4601 13.3333 9.99984 13.3333Z' fill='%23F14B00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.99984 1.66669C5.39746 1.66669 1.6665 5.39765 1.6665 10C1.6665 14.6024 5.39746 18.3334 9.99984 18.3334C14.6022 18.3334 18.3332 14.6024 18.3332 10C18.3332 5.39765 14.6022 1.66669 9.99984 1.66669ZM3.33317 10C3.33317 13.6819 6.31794 16.6667 9.99984 16.6667C13.6818 16.6667 16.6665 13.6819 16.6665 10C16.6665 6.31812 13.6818 3.33335 9.99984 3.33335C6.31794 3.33335 3.33317 6.31812 3.33317 10Z' fill='%23F14B00'/%3E%3C/svg%3E%0A") center no-repeat;
		}
	}
// unregister_alert

#portfolio.modal {
	padding-top: 20px;
	.modal_content {
		background: transparent;
		max-width: 100%;
	}
}